<!-- Wrapper Start -->
{{ partial "slider-about.html" . }}
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.wrapper.title }}</h2>
            <p>{{ .Site.Params.wrapper.italic | markdownify }}</p>
          </div>
          <p>{{ .Site.Params.wrapper.paragraph | markdownify }}</p>
        </br>
        <!--
          {{ with .Site.Params.wrapper.button }}
            <a href="{{ .url }}" class="btn btn-main">{{ .caption }}</a>
          {{ end }}
          -->
          </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block" >
          <br></br><br><br>
          <img src="../img/Fader_profile02_700.jpg" alt="Fader Profile Photo" >
        </div>
      </div><!-- .col-md-5 close -->


  </div>
  <div class="block">
    {{ partial "load-photoswipe.html" . }}
    {{ partial "gallery1.html" . }}
  </div>
</section>
